*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
    background-color: rgb(151, 148, 148);
}
ul li{
    list-style-type: none;
    padding: 23px;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    /* background-color: brown; */
    color: brown;
    padding: 5px;
    background-color: rgb(151, 148, 148);
    border-radius: 5px;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}