*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(203, 177, 143);
}


.container {
        display: flex;
        height: 100%;
    }

.left-section, .right-section {
        width: 50%;
        height: 85vh;
    }
    .left-section {
        background-color: #f0f0f0; /
        
    }

    .right-section {
        background-color: #e0e0e0; 
    }

    img{
        border-radius: 184px;
        height: 344px;
        margin: 23px;
        
    }
    .info{
        margin: 34px;
        padding: 12px;
    }

    .skill-section{
        margin: 34px;
    }
    .code{
        margin: 45px;
    }